:root {
  --gray: #898b8a;
  --blue: #28df99;
  --bg: #f4f4f2;
  --dark: #272727;
}

body {
  width: 100vw;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  background-color: var(--bg);
  height: 100vh;
  display: block;
}

.menu {
  padding: 1vh 4vw;
  box-shadow: 0px 5px 15px -5px rgba(122, 93, 93, 0.3);
}

.home-header {
  text-align: center;
  font-family: sans-serif;
}

.home-header h2 {
  color: var(--dark);
  margin: 10px 0;
  font-size: 10rem;
}

.home-header small {
  font-size: 1.1rem;
  font-weight: 100;
}

.header {
  text-align: center;
  font-family: sans-serif;
  color: white;
}

.header h2 {
  z-index: 2;
  margin-top: 6vh;
  font-size: 4rem;
}

.header div {
  position: absolute;
  z-index: 1;
  top: 4rem;
  width: 12rem;
}

.wrapper {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 10vh 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.g-joiner {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.g {
  margin: 0 20px;
}

.label {
  margin-top: 3rem;
}

.d {
  margin-top: .5rem;
}

.box {
  border-radius: 15px;
  box-shadow: 0px 0px 25px 1px rgba(122, 93, 93, 0.3);
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.category {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.category label h3 strong {
  font-size: 1.5rem;
}

.box .logo {
  width: 22rem;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.box .logo #g-left {
  position: absolute;
  z-index: 1;
  width: 15rem;
}

.box .logo h2 {
  font-size: 6rem;
  z-index: 2;
}

.category label {
  margin-bottom: 20px;
}

.category input {
  margin: 0 5px;
}

button.submit {
  margin: 4vh 10vw;
  border-radius: 25px;
}

.circle {
  border-radius: 25px;
}

.box .logo {
  display: none;
}

.wrapper {
  width: 90vw;
}

body.signup {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  background-size: cover;
}
@media screen and (max-width: 1177px) {
}

/* @media screen and (min-width: 1177px) {
  .header {
    display: none;
  }
} */

.center {
  display: flex;
  justify-content: center;
}

.tl {
  justify-content: start;
  margin: 0 20px;
}

.optional {
  border: 1px solid #28a745;
  font-weight: bolder;
  color: #28a745;
  border-radius: 25px;
  padding: 5px;
  font-size: 0.7rem;
}

.option {
  margin: 10px 5px;
  margin-left: 20px;
}

.option label {
  margin-left: 6px;
}

.option input {
  transform: scale(1.5);
}

/*   .sm {
    max-width: 30vw;
  } */

.active {
  color: white;
  background-color: #343a40;
}
