* {
    margin: 0;
}

*:focus {
    outline: none;
}

body {
    background: #1e2022; 

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

label {
    color: white;
}

.box {
    width: 80vw;
    height: auto;

    max-width: 450px;

    background-color: #23272a;
    border-radius: 4px;

    margin: 15px 0;
    padding: 5px 10px;
    padding-top: 20px;
    padding-bottom: 50px;

    box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.55);

    display: flex;
    flex-direction: column;
}

.box label {
    font-family: sans-serif;
}

.box input {
    border: none;
    background: none;

    border-bottom: 1px solid gray;
    color: white;

    margin-top: 20px;

    font-size: 1.1rem;
}


.box input:focus {
    border-color: white;
}

.option label {
    margin-right: 10px;
}

.option input {
    transform: scale(1.5);
    margin-right: 10px;
}

.wrapper {
    margin: 10vw 0;
}

.required {
    border-left: solid rgb(160, 20, 20);
}

.submit {
    width: 7vw;
    min-width: 200px;
    height: 3rem;
    color: #009d00;
    background: none;
    border: solid #009d00 1px;
    border-radius: 4px;
    text-align: center;
    font-size: 2rem;
}

.hidden {
    display: none;
}

.alert {
    color: tomato;
    font-family: sans-serif;
    margin-top: 1.2rem;
}

.wrapper form .fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    margin: 0 20px;

}

form {
    display: flex;
    flex-direction: column;
}

button.submit {
    margin: 0 auto;
    margin-top: 3vh;
    transition: background-color 1000ms linear;
}

button.submit:focus {
    background-color: #009d00;
}

.status {
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
}

.ok {
    width: 70vw;
    height: 25vw;
    max-width: 200px;
    max-height: 150px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    border-radius: 14px;
}

.ok img {
    width: 48px;
    margin: 0 auto;
}

.center {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}