<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AIO singup failed</title>
    <link rel="icon" href="/static/aio.png" />
  </head>
  <style>
    * {
      font-family: sans-serif;
    }

    body {
      height: 100vh;
      background-color: #f4f4f2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    .box {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .box img {
      height: auto;
    }
  </style>
  <body class="center">
    <img
      src="https://img.icons8.com/fluent/96/000000/identification-documents-error.png"
    />
    <div class="box ok">
      <h2 class="status">
        signed up failed.<br />
      </h4>
    </div>
  </body>
</html>
