<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/aio.png" />
    <title>AIO signup successfuly</title>
  </head>

  <style>
    * {
      font-family: sans-serif;
    }

    body {
      height: 100vh;
      background-color: #f4f4f2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    .box 
    {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .box img {
      height: auto;
    }

  </style>

  <body class="center">
    <img src="https://img.icons8.com/fluent/48/000000/ok.png" />
    <div class="box ok">
      <h2 class="status">
        signed up successfuly <br>
      </h2>
      <small>you can leave this page now.</small>
    </div>
  </body>
</html>
